$primary : #0F2A2F ; 
$secondary : #1E3A40 ;
$accent : #E07A3F ; 
$tertiaire : #F3F5F4 ; 
$text : #FAFAFA ; 

$lprimary : #F3F5F4 ;
$lsecondary : #FAFAFA ;
$laccent : #E07A3F ;
$ltertiaire : #0F2A2F ;
$ltext : #1E3A40 ;