@import "./sass/variables";
*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.theme-toggle {
  position: fixed;
  top: 8px;
  right: 20px;
  background: $secondary;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 1000;
  
  .light-icon {
    display: none;
  }
}

.light-mode .theme-toggle {
  background: $laccent;
  
  .dark-icon {
    display: none;
  }
  
  .light-icon {
    display: block;
  }
}


body {
  .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $tertiaire;
    height: 64px;
    color: $accent;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 100px;
      img {
        width: 50px;
        margin-right: 20px;
      }
      cursor: pointer;
    }

    .right-section {
      display: flex;
      div {
        padding: 14px 32px;
        cursor: pointer;
        transition: all 0.5s ease-in;

        &:hover {
          border-bottom: 2px solid $accent;
          a{
            color: $accent;
          }
        }
      }
        a{
          text-decoration: none;
          color: $primary;
          transition: all 0.5s ease-in;
        }
    }
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .homepage {
      height: 90vh;
      width: 100vw;
      position: relative;

      .title1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 6%;
        top: 2%;
        color: $text;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 1px 3px 2px rgba(15, 42, 47, 0.5); 
      }

      .about-btn {
        position: absolute;
        background: $text;
        padding: 8px 15px;
        border-radius: 12px;
        cursor: pointer;
        top: 16%;
        right: 19%;
        transition: all 0.3s ease;
        a{
          text-decoration: none;
          color: $accent;
          font-weight: bold;
          transition: all 0.3s ease-in;
        }
        &:hover {
          box-shadow: 2px 4px 4px #0F2A2F80;
          transform: scale(1.1);
          a{
            color: $secondary;
          }
        }
      }
    }

    .aboutpage {
      display: flex;
      flex-direction: column;
      background: $primary;
      padding-bottom: 10px;
      .about-txt{
        color: $text;
        font-weight: bolder;
        font-size: 20px;
        margin: 6px 25px;
      }
      .about-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $tertiaire;

        img {
          width: 208px;
          height: 210px;
          object-fit: cover;
          border-radius: 12px;
        }
        .text-about {
          width: 300px;
          text-align: justify;
          h3{
            margin-bottom: 4px;
          }
        }
        .skill {
          display: flex;
          .skill-group {
            width: 120px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          img {
            border-radius: 40%;
            width: 72px;
            height: 72px;
            border: 3px solid $accent;
            margin-bottom: 6px;
          }
        }
        .suppl-div{
          width: 200px;
          text-align: center;
          div{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
              width: 90px;
              height: 120px;
              object-fit: contain;
            }
          }
        }
      }
    }

    .contactpage{
      display: flex;
      flex-direction: column;
      background: $primary;
      padding-bottom: 10px;
      .contact-txt{
        color: $text;
        font-weight: bolder;
        font-size: 20px;
        margin: 6px 25px;
      }

      .contact-section {
        display: flex;
        background-color: $secondary;
        margin: 1px 12px;
        border-radius: 8px;
        .contact-group {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 4px 20px;
          a{
            text-decoration: none;
            color: $accent;
            margin-left: 5px;
          }
        }
      }
    }
  }
}


body.light-mode {
    background-color: $lprimary;
    
    .header{
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: $lsecondary;
      height: 64px;
      color: $laccent;
      position: fixed;
      z-index: 3;

      .logo-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 100px;
        img {
          width: 50px;
          margin-right: 20px;
        }
        cursor: pointer;
      }

      .right-section {
        display: flex;
        div {
          padding: 14px 32px;
          cursor: pointer;
          transition: all 0.5s;

          &:hover {
            border-bottom: 2px solid $laccent;
            a{
              color: $laccent;
            }
          }
        }
          a{
            text-decoration: none;
            color: $ltertiaire; 
          }
      }
    }

    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      .homepage {
        height: 90vh;
        width: 100vw;
        position: relative;

        .title1{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 6%;
          top: 2%;
          color: $text; 
          font-size: 30px;
          font-weight: bold;
          z-index: 3;
          text-shadow: 1px 3px 2px rgba(15, 42, 47, 0.5); 
        }

        .about-btn {
          position: absolute;
          z-index: 2;
          background: $ltertiaire; // ltertiaire au lieu de text
          padding: 8px 15px;
          border-radius: 12px;
          cursor: pointer;
          top: 16%;
          right: 19%;
          box-shadow: 2px 4px 4px #0F2A2F80;
          a{
            text-decoration: none;
            color: $laccent;
            font-weight: bold;
          }
        }
      }

      .aboutpage {
        display: flex;
        flex-direction: column;
        background: $lprimary; // lprimary au lieu de primary
        padding-bottom: 10px;
        .about-txt{
          color: $ltext; // ltext au lieu de text
          font-weight: bolder;
          font-size: 20px;
          margin: 6px 25px;
        }
        .about-section {
          display: flex;
          justify-content: space-around;
          align-items: center;
          color: $ltext; // ltext au lieu de tertiaire

          img {
            width: 208px;
            height: 210px;
            object-fit: cover;
            border-radius: 12px;
          }
          .text-about {
            width: 300px;
            text-align: justify;
            h3{
              margin-bottom: 4px;
              color: $ltext;
            }
          }
          .skill {
            display: flex;
            .skill-group {
              width: 120px;
              text-align: center;
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            img {
              border-radius: 40%;
              width: 72px;
              height: 72px;
              border: 3px solid $laccent;
              margin-bottom: 6px;
              background-color: $ltertiaire;
            }
          }
          .suppl-div{
            width: 200px;
            text-align: center;
            div{
              display: flex;
              justify-content: center;
              align-items: center;
              img{
                width: 90px;
                height: 120px;
                object-fit: contain;
              }
            }
          }
        }
      }

      .contactpage{
        display: flex;
        flex-direction: column;
        background: $lprimary; // lprimary au lieu de primary
        padding-bottom: 10px;
        .contact-txt{
          color: $ltext; // ltext au lieu de text
          font-weight: bolder;
          font-size: 20px;
          margin: 6px 25px;
        }

        .contact-section {
          display: flex;
          background-color: $ltext; // lsecondary au lieu de secondary
          margin: 1px 12px;
          border-radius: 8px;
          .contact-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 4px 20px;
            a{
              text-decoration: none;
              color: $laccent;
              margin-left: 5px;
            }
          }
        }
      }
    }
  
}
